---
---
@charset "utf-8";

$br-sm: 768px;
$br-me: 992px;
$br-lg: 1200px;

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #fdfdfd;
  line-height: 1.5;
}

a {
  color: rgb(42, 122, 226);
  text-decoration: none;
  &:visited {
    color: rgb(23, 86, 169);
  }
  &:hover {
    color: #333333;
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: solid 5px #e0e0e0;
  padding-left: 10px;
}

ul {
  &.post-list {
    list-style-type: none;
    li {
      margin-bottom: 15px;
      margin-top: 15px;
      .post-meta {
        font-size: 0.9em;
        color: #9f9f9f;
      }
      .post-link {}
    }
  }
}

div.wrapper {
  margin: 0 auto;
  width: auto;
  @media (min-width: $br-sm) { width: 750px; }
  @media (min-width: $br-me) { width: 970px; }
  @media (min-width: $br-lg) { width: 1170px; }
}

.site-header {
  min-height: 56px;
  line-height: 56px;
  position: relative;
  border-bottom: 1px #e0e0e0 solid;
  .site-nav {
    float: right;
    vertical-align: center;
    .menu-icon {
      display: none;
      @media (max-width: $br-sm) { display: inline-block; }
      > svg {
        width: 16px;
        height: 16px;
      }
    }
    .trigger {
      overflow: none;
    }
  }

  a.site-title, a.page-link {
    color: #131313;
    text-decoration: none;
    font-weight: 200;
    &:hover {
      text-decoration: underline;
    }
  }

  .site-title {
    font-size: 1.5em;
  }

  .page-link {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.post-header {
  margin-bottom: 1em;
  .post-meta {
    color: #9f9f9f;
  }
}

.site-footer {
  min-height: 56px;
}