<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{{ .Title }}</title>
        {{ if .Page.Summary }}<meta name="description" content="{{ .Page.Summary }}">{{ end }}
	<meta name="flattr:id" content="glvjq0">
        
        <link rel="stylesheet" href="{{ "/css/main.css" | absURL }}">
        <link rel="canonical" href="{{ .Page.Permalink | absURL }}">
        {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        <link rel="shortcut icon" href="/images/nelf-priest-avatar.gif" type="image/gif" />
        <link rel="icon" href="/images/nelf-priest-avatar.gif" type="image/gif" />
    
    
    </head>
      

  <body>
    <div>
      <header class="site-header">
          <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>

  </body>

</html>
