@font-face {
  font-family: "Rajdhani";
  src: local("Rajdhani Regular"), local("RajdhaniRegular"), url("https://faarao.net/fonts/rajdhani/Rajdhani-Regular.ttf") format("truetype");
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6, a.site-title {
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

body {
  font-family: Rajdhani, sans-serif;
  font-size: 18px;
  color: lightgray;
  background-color: black;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body > .wrapper {
  flex: 1;
}

body > div.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
body > div.container .site-header {
  position: relative;
  text-align: center;
  padding: 2em 0;
  color: #f3e600;
}
body > div.container .site-header .site-title {
  font-size: 2em;
  letter-spacing: -0.025em;
  display: block;
  padding: 0 0.5em;
  width: max-content;
  margin: 0 auto;
  color: #ff003c;
}
body > div.container .site-header .site-title:hover {
  text-decoration: none;
}
body > div.container main {
  margin-bottom: 3em;
}
body > div.container main .post-list article.post .post-header a.post-link {
  text-decoration: none;
}
body > div.container main .post-list article.post .post-content {
  clear: both;
}
body > div.container main article.post {
  background-image: linear-gradient(180deg, rgba(23, 0, 5, 0.75) 10%, black 65%);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
body > div.container main article.post .post-header {
  text-align: left;
}
body > div.container main article.post .post-header h1, body > div.container main article.post .post-header h2 {
  margin: 0;
  line-height: 3em;
}
body > div.container main article.post .post-content {
  margin-bottom: 1em;
}
body > div.container main article.post .post-footer {
  color: #f3e600;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body > div.container main article.post .post-date, body > div.container main article.post .dt-published {
  grid-column: 2;
  text-align: right;
}
body > div.container main article.post ul, body > div.container main article.post ol {
  margin-left: 2em;
}
body > div.container main article.post > * {
  margin: 0 2em;
}
body > div.container main article.post > img:first-child {
  width: 100%;
  margin: 0;
  display: block;
}
@media screen and (min-width: 800px) {
  body > div.container {
    width: 700px;
    padding: 0 29px;
  }
  body > div.container .site-header {
    background-position: bottom, center top -137px;
  }
  body > div.container img.left, body > div.container img.right {
    max-width: 50%;
    display: inline-block;
  }
  body > div.container img.left {
    float: left;
  }
  body > div.container img.right {
    float: right;
  }
  body > div.container article.post {
    border-radius: 0.25em;
  }
  body > div.container article.post > img:first-child {
    border-radius: 0.25em 0.25em 0 0;
  }
}
@media screen and (min-width: 1000px) {
  body > div.container {
    width: 900px;
  }
  body > div.container .site-header {
    background-position: bottom, center top -229px;
  }
}
@media screen and (min-width: 1400px) {
  body > div.container {
    width: 1200px;
  }
  body > div.container .site-header {
    background-position: bottom, center top -370px;
  }
}

.pagination a, .pagination a:visited {
  text-decoration: underline;
}

a {
  color: #72eaf8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

blockquote {
  border: 1px solid #545454;
  margin: 1em;
  padding: 1em;
}

hr {
  margin: 1em 0;
  border-color: #ff003c;
}

figure.wp-block-image, div.wp-block-image {
  width: max-content;
  max-width: calc(100% - 1em);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
figure.wp-block-image img, div.wp-block-image img {
  max-width: 100%;
}
figure.wp-block-image .aligncenter, div.wp-block-image .aligncenter {
  text-align: center;
}

img.middle, img.right, img.left {
  margin: 1em auto;
  max-width: 100%;
  display: block;
}

.screen-reader-text {
  display: none;
}

/*# sourceMappingURL=style.css.map */
