---js
{
    layout: "base",
    pagination: {
        data: "collections.categories",
        size: 1,
        alias: "category",
    },
    permalink: "/category/{{ category.slug }}/"
}
---
{% from "partials/card.njk" import card %}
<h1>Posted in {{ category.name }}</h1>
<div class="post-list">
    {% for post in category.posts %}
    {{ card(post) }}
    {% endfor %}
</div>