@charset "utf-8";
@font-face {
  font-family: "Rajdhani";
  src: local("Rajdhani Regular"), local("RajdhaniRegular"), url("https://faarao.net/fonts/rajdhani/Rajdhani-Regular.ttf") format("truetype");
}


$br-sm: 800px;
$br-me: 1000px;
$br-lg: 1400px;

$text: rgb(211, 211, 211);
$background: rgb(0, 0, 0);
$primary: rgb(255, 0, 60);
$highlight: rgb(114, 234, 248);
$accent: rgb(243, 230, 0);
$green: rgb(71, 213, 139);
$dark-green: rgb(56, 171, 111);

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6, a.site-title {
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

body {
  font-family: Rajdhani, sans-serif;
  font-size: 18px;
  color: $text;
  background-color: $background;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > .wrapper {
    flex: 1;
  }
}

body > div.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  .site-header {
    position: relative;
    text-align: center;
    padding: 2em 0;
    color: $accent;
    .site-title {
      font-size: 2em;
      letter-spacing: -0.025em;
      display: block;
      padding: 0 0.5em;
      width: max-content;
      margin: 0 auto;
      color: $primary;
      &:hover {
        text-decoration: none;
      }
    }
  }
  main {
    margin-bottom: 3em;
    .post-list {
      article.post {
        .post-header {
          a.post-link {
            text-decoration: none;
          }
        }
        .post-content {
          clear: both;
        }
      }
    }
    
    article.post {
      background-image: linear-gradient(180deg, rgba(23,0,5,.75) 10%, rgba(0,0,0,1) 65%);
      background-size: auto 100vh;
      background-repeat: no-repeat;
      margin-bottom: 2em;
      padding-bottom: 2em;
      .post-header {
        text-align: left;
        h1, h2 {
          margin: 0;
          line-height: 3em;
        }
      }
      .post-content {
        margin-bottom: 1em;
      }
      .post-footer {
        color: $accent;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .post-date, .dt-published {
        grid-column: 2;
        text-align: right;
      }
      ul, ol {
        margin-left: 2em;
      }
      > * {
        margin: 0 2em;
      }
      > img:first-child {
        width: 100%;
        margin: 0;
        display: block;
      }
    }
  }
  @media screen and (min-width: $br-sm) {
    & {
      width: 700px;
      padding: 0 29px;
      .site-header {
        background-position: bottom, center top -137px;
      }
      img.left, img.right {
        max-width: 50%;
        display: inline-block;
      }
      img.left {
        float: left;
      }
      img.right {
        float: right;
      }
      article.post {
        border-radius: 0.25em;
        > img:first-child {
          border-radius: 0.25em 0.25em 0 0;
        }
      }
    }
  }
  @media screen and (min-width: $br-me) {
    & {
      width: 900px;
      .site-header {
        background-position: bottom, center top -229px;
      }
    }
  }
  @media screen and (min-width: $br-lg) {
    & {
      width: 1200px;
      .site-header {
        background-position: bottom, center top -370px;
      }
    }
  }
}

.pagination {
  a, a:visited {
    text-decoration: underline;
  }
}



a {
  color: $highlight;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border: 1px solid #545454;
  margin: 1em; 
  padding: 1em;
}

hr {
  margin: 1em 0;
  border-color: $primary;
}

figure.wp-block-image, div.wp-block-image {
  width: max-content;
  max-width: calc(100% - 1em);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  img {
    max-width: 100%;
  }
  .aligncenter {
    text-align: center;
  }
}

img.middle, img.right, img.left {
  margin: 1em auto;
  max-width: 100%;
  display: block;
}

.screen-reader-text {
  display: none;
}