---js
{
    layout: "base",
    pagination: {
        data: "collections.tags",
        size: 1,
        alias: "tag",
    },
    permalink: "/tag/{{ tag.slug }}/"
}
---
{% from "partials/card.njk" import card %}
<h1>Posted in {{ tag.name }}</h1>
<div class="post-list h-feed">
    {% for post in tag.posts %}
    {{ card(post) }}
    {% endfor %}
</div>