{% macro card(post) %}
<article class="post h-entry">
    <header class="post-header">
    <h2>
        <a class="post-link p-name" href="{{ post.url }}" rel="bookmark">{{ post.title | safe }}</a>
    </h2>
    
    </header>
    <section class="post-content e-content">{{  post.html | safe }}</section>
    <div class="post-categories p-category"><a href="{{ post.primary_tag.url }}">{{ post.primary_tag.name }}</a></div><time class="post-date dt-published" datetime="{{ post.date }}">{{ post.published_at }}</time>
</article>
{% endmacro %}