{% macro card(post) %}
<article class="post">
    <header class="post-header">
    <h2>
        <a class="post-link" href="{{ post.link }}">{{ post.title | safe }}</a>
    </h2>
    
    </header>
    <section class="post-content">{{  post.content | safe }}</section>
    <div class="post-categories"><a href="{{ post.category.link }}">{{ post.category.name }}</a></div><div class="post-date">{{ post.posted_at }}</div>
</article>
{% endmacro %}